<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <property name="LOGS" value="./log" />

    <!-- Appender para logs normais -->
    <appender name="NORMAL_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${LOGS}/normal/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/normal/app.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender para logs de erro -->
    <appender name="ERROR_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${LOGS}/error/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/error/error.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender para logs de SQL -->
    <appender name="SQL_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${LOGS}/sql/sql.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/sql/sql.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger para logs normais -->
    <root level="INFO">
        <appender-ref ref="NORMAL_LOG" />
    </root>

    <!-- Logger para logs de erro (somente erros) -->
    <logger name="com.github.bat333.stockroom" level="ERROR">
        <appender-ref ref="ERROR_LOG" />
    </logger>

    <root level="ERROR">
        <appender-ref ref="ERROR_LOG" />
    </root>
    <!-- Logger para logs SQL -->
    <logger name="org.hibernate.SQL" level="DEBUG">
        <appender-ref ref="SQL_LOG" />
    </logger>

</configuration>
